<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
<h1>Edit Details</h1>
<form method="POST">
    {% csrf_token %}
<table>
    <tr>
        <td>
            ID
        </td>
        <td>
            <input type="text" name="id" value="{{register.id}}">
        </td>
    </tr>
    <tr>
        <td>
            Name
        </td>
        <td>
            <input type="text" name="name" value="{{register.Name}}">
        </td>
    </tr>
    <tr>
        <td>
            Gender
        </td>
        <td>
            <input type="text" name="gender" value="{{register.Gender}}">
        </td>
    </tr>
    <tr>
        <td>
            Age
        </td>
        <td>
            <input type="text" name="age" value="{{register.Age}}">
        </td>
    </tr>
    <tr>
        <td>
            Phone
        </td>
        <td>
            <input type="text" name="phoneno" value="{{register.Phone}}">
        </td>
    </tr>
    <tr>
        <td>
            Country
        </td>
        <td>
            <input type="text" name="country" value="{{register.Country}}">
        </td>
    </tr>
    <tr>
        <td>
            Email
        </td>
        <td>
            <input type="text" name="state" value="{{register.Email}}">
        </td>
    </tr>
    <tr>
        <td>
            City
        </td>
        <td>
            <input type="text" name="city" value="{{register.City}}">
        </td>
    </tr>
    <tr>
        <td>
            Username
        </td>
        <td>
            <input type="text" name="email" value="{{register.Email}}">
        </td>
    </tr>
    <tr>
        <td>
            Password
        </td>
        <td>
            <input type="password" name="password" value="{{register.Password}}">
        </td>
    </tr>
</table>
<br>
<br>
<input type="submit" value="Update"/>
    <button><a href="/lessorhome/">home</a></button>

</form>
</center>
</body>
</html>